# Ignore all node_modules
node_modules/
**/node_modules/

# Environment files
.env
.env.*

# Build folders
dist/
build/

# Logs
*.log

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/